/* --gambar hanya diulang secara horizontal-- */
/* body {
    background: url("../img/background.png");
    background-repeat: repeat-x;
} */

/* --Menampilkan gambar background hanya sekali-- */
/* 
body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
}
 */

/* background position digunakan untuk menentukan posisi gambar background */
/* background attachment digunakan agar gambar bisa terlihat saat di scroll atau tidak */
body {
    background-image: url("../img/pohon_burung.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

/* properties shorthand digunakan untuk mempersingkat kode */
/* body {
background: #ffffff url("../img/pohon_burung.jpg") no-repeat right top;
} 
*/
